@model IEnumerable<CardTransactionViewModel>
@{
    ViewData["Title"] = "Card Transactions";
    int totalCount = ViewBag.TotalCount;
    int pageSize = ViewBag.PageSize;
    int pageNumber = ViewBag.PageNumber;
    int totalPages = (int)Math.Ceiling(totalCount / (double)pageSize);
    var cards = ViewBag.Cards as IEnumerable<CardViewModel>;
    var routeValues = new
    {
        CardId = ViewBag.FilterParameters?.CardId,
        Amount = ViewBag.FilterParameters?.Amount,
        CreatedAfter = ViewBag.FilterParameters?.CreatedAfter,
        CreatedBefore = ViewBag.FilterParameters?.CreatedBefore,
        SortBy = ViewBag.FilterParameters?.SortBy,
        SortOrder = ViewBag.FilterParameters?.SortOrder,
        TransactionType = ViewBag.FilterParameters?.TransactionType
    };
}

<section class="bg-dark-1 text-white rounded p-4 mt-5">
    <div class="">
        <div class="row">
            <div class="col-lg-8">
                <div class="card bg-dark-3 shadow-sm mb-4">
                    <div class="card-body">
                        <h4 class="mb-4">Card Transactions Log</h4>
                        <div class="table-responsive">
                            <table class="table table-dark table-hover table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Card#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Wallet</th>
                                        <th scope="col">Fee*</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        @foreach (var transaction in Model)
                                        {
                                            var fee = transaction.Fee ?? 0.00m;
                                            <tr>
                                                <td>@transaction.Card.CardNumber</td>
                                                <td>@transaction.CreatedAt.ToString("MMM dd, yyyy")</td>
                                                <td>@transaction.Card.Currency @transaction.Amount</td>
                                                <td>@transaction.Type.ToString()</td>
                                                <td>@transaction.Wallet.Name (@transaction.Wallet.Currency)</td>
                                                <td>@fee</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" class="text-center">No transactions found.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <p>
                            * A nominal service fee will be applied to withdrawal transactions in cases where the currency of the wallet differs from that of the destination card.
                        </p>

                    </div>
                </div>
                <nav aria-label="Page navigation" class="mt-4">
                    @PaginationHelper.GeneratePaginationLinks(Url, totalPages, pageNumber, "Index", routeValues)
                </nav>
            </div>

            <div class="col-lg-4">
                <div class="card bg-dark-3 shadow-sm mb-4">
                    <div class="card-body">
                        <h5 class="mb-3">Filter Transactions</h5>
                        <form method="get" action="@Url.Action("Index", "CardTransactions")">
                            <div class="mb-3">
                                <label for="CardId" class="form-label">Select Card</label>
                                <select class="form-select" id="CardId" name="CardId">
                                    <option value="">All Cards</option>
                                    @{
                                        bool selected = false;
                                    }
                                    @foreach (var card in cards)
                                    {
                                        @(selected = card.Id == ViewBag.FilterParameters?.CardId ? true : false)
                                        if (selected)
                                        {
                                            <option value="@card.Id" selected>@card.CardNumber</option>
                                        }
                                        else
                                        {
                                            <option value="@card.Id">@card.CardNumber</option>
                                        }

                                    }
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="Amount" class="form-label">Amount</label>
                                <input class="form-control" type="text" placeholder="Search Amount" name="Amount" value="@ViewBag.FilterParameters?.Amount">
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <label for="CreatedAfter" class="form-label">Created After</label>
                                    <input type="date" class="form-control" id="CreatedAfter" name="CreatedAfter" value="@ViewBag.FilterParameters?.CreatedAfter?.ToString("yyyy-MM-dd")" />
                                </div>
                                <div class="col-md-6">
                                    <label for="CreatedBefore" class="form-label">Created Before</label>
                                    <input type="date" class="form-control" id="CreatedBefore" name="CreatedBefore" value="@ViewBag.FilterParameters?.CreatedBefore?.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="TransactionType" class="form-label">Transaction Type</label>
                                <select class="form-select" id="TransactionType" name="TransactionType">
                                    <option value="">All</option>
                                    <option value="Withdrawal">Withdrawal</option>
                                    <option value="Deposit">Deposit</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="SortBy" class="form-label">Sort By</label>
                                <select class="form-select" id="SortBy" name="SortBy">
                                    <option value="CreatedAt">Date</option>
                                    <option value="Amount">Amount</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="SortOrder" class="form-label">Sort Order</label>
                                <select class="form-select" id="SortOrder" name="SortOrder">
                                    <option value="desc">Descending</option>
                                    <option value="asc">Ascending</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success w-100">Apply Filters</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
