@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "User Search";
    var IsAdmin = ViewBag.UserRole == "Admin";
}

<div class="container my-4 bg-dark-1 p-5 rounded-3 shadow animate__animated animate__fadeIn">
    <h3 class="text-center text-light mb-4">Search Users</h3>

    <form asp-action="SearchUsers" method="get" class="d-flex justify-content-center mb-4">
        <input type="text" name="searchTerm" class="form-control me-2 w-50" placeholder="Search by Username or Email" />
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>

    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-dark table-hover table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col" style="width: 250px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr class="text-center text-xl-center">
                            <td class="text-center">@user.Username</td>
                            <td>@user.Email</td>
                            <td>@user.VerificationStatus</td>
                            <td class="d-flex justify-content-center gap-3" style="width: 300px;">
                                <a href="@Url.Action("Profile", "User", new { id = user.Id })" class="btn btn-outline-info">View Profile</a>
                                @if (IsAdmin)
                                {
                                    @if (user.Role == UserRole.Blocked.ToString())
                                    {
                                        <a href="@Url.Action("UnblockUser", "User", new { userId = user.Id })" class="btn btn-warning btn">Unban User</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("BlockUser", "User", new { userId = user.Id })" class="btn btn-danger btn">Ban User</a>
                                    }
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (Model != null)
    {
        <p class="text-center text-light">No users found matching your search criteria.</p>
    }
</div>
